/* ==========================================================================
   INCLUDE
   ========================================================================== */
@import 'compass/css3';
@import 'reset';
@import 'sprite';





/* ==========================================================================
   GLOBALS
   ========================================================================== */
// ------------------------------------
// ----- VARIABLES
// ------------------------------------
$grey: #dcdcd4;
$blue: #2d4255;
$white: #ffffff;
$red: #a20e30;



// ------------------------------------
// ----- FONTS
// ------------------------------------
@include font-face('Economica', font-files('econ-regular.otf', 'econ-regular.eot'));
@include font-face('EconomicaBold', font-files('econ-bold.otf', 'econ-bold.eot'));
@include font-face('EconomicaItalic', font-files('econ-italic.otf', 'econ-bold.eot'));





// ------------------------------------
// ----- GLOBAL STYLES
// ------------------------------------
* {
	@include box-sizing(border-box);
}

body {
	padding: 25px 0 0;

	background: url($bg-image) repeat-x $grey;
	@include sprite-position($bg);
	color: black;
	font-family: "Economica";
	font-size: 62.5%;
}

.main-container {
	width: 960px;

	margin: auto;

	.lines {
		padding: 25px;

		border: 3px dashed $grey
	}
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 4.8em;
}

h2 {
	font-size: 2.4em;
}

p {
	margin: 0 0 15px;

	line-height: 1.25;
	font-size: 2.4em;
}

a {
	color: $red;
	border-bottom: 1px dotted $red;
	text-decoration: none;

	&:hover {
		border: 0;
	}
}



// ------------------------------------
// ----- HEADER
// ------------------------------------
.main-container > header {
	width: 400px;

	margin: 0 auto 25px;
	padding: 25px;

	background: $white;
	text-align: center;

	h2 {
		font-family: "EconomicaItalic";
	}
}


// ------------------------------------
// ----- MENU & NAVIGATION
// ------------------------------------




// ------------------------------------
// ----- MAIN CONTENT AREA
// ------------------------------------
.about-me {
	float: left;
	width: 615px;

	margin: auto;
	padding: 25px;

	background: $white;

	p:last-child {
		margin: 0;
	}

	.skill-set {
		margin-bottom: 15px;

		li {
			display: inline-block;
			margin: 0 5px 8px 0;
			padding: 5px;

			background: $red;
			color: $white;
			list-style: none;
			font-size: 1.4em;

			.lines {
				padding: 5px;

				border: 1px dashed $white;
			}
		}
	}
}

.portrait {
	float: right;
	height: 320px;
	width: 320px;
	padding: 25px;

	background: $white;
}

.links {
	float: right;
	width: 305px;

	text-align: center;

	li {
		display: inline-block;
		margin: 25px 25px 0 0;

		list-style: none;

		a {
			display: block;
			height: $twitter-height;
			width: $twitter-width;

			border: none;

			transition: all .15s ease-out;

			&.twitter {
				@include sprite($twitter);
			}

			&.github {
				@include sprite($github);
			}

			&.codeschool {
				@include sprite($codeschool);
			}

			&:hover {
				transform: scale(.9);
			}
		}

		&:last-child {
			margin: 0;
		}
	}
}